extends layout.pug
block content
    style
        include ../public/stylesheets/add-question.css
    body
        nav.nav-container
            a(href="/questions" class="logo") Korra
            .search-container
                i(class="fas fa-search")
                input.search-input
            .right-nav-container
                a(href="/logout" class="log-out-button") Log Out
        form(class="form-container" action="/questions/create" method="POST")
            input(type='hidden' name='_csrf' value=csrfToken)
            .add-question-container
                label.add-question-title Add Your Question
            .title-container
                label(for='title') Title
                input(id="title-input" type='text' name="title")
            .topic-container
                label(for="topic") Topic
                select.question-topics
                    each topic in topics
                        option(value=topic.id)= topic.topic
            .description-container
                label(for="description") Description
                textarea(name="description", cols="80", rows="8")
            .submit-question-container
                button(class="add-question-button" type='submit') Add Question
