* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    min-height: 100%;
    background: url("//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-container {
    height: 625px;
    width: 700px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    animation: smooth .25s ease-in-out;
}
.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
}
.title {
    padding-top: 1rem;
    font-size: 4rem;
    font-family: 'Lobster';
    color: rgba(167, 2, 2, .9);
}
.sub-title {
    padding-top: 5px;
    font-weight: 600;
    color: rgba(97, 97, 97, .9);
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 60%;
    width: 65%;
    padding: 12px 12px;
}
.login-container > div > label {
    color: rgba(0, 0, 0, 0.8);
    padding: 4px;
}
.login-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-container > div > input {
    border: 1px solid rgba(150, 150, 150, 0.4);
    border-radius: 3px;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
}
.login {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(150, 150, 150, 0.4);
}
.pass-login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login-button {
        border: none;
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: 1.8rem;
        cursor: pointer;
        width: 100%;
        height: 50px;
        background-color: rgba(0, 102, 255, .8);
        color: white;
}

.login-button:hover {
    background-color: rgba(6, 80, 190, 0.8);
    transition: background-color .5s;
}

.sign-up {
    color: rgba(0, 0, 0, .6);
    padding: 1.25rem;
    text-decoration: none;
}
.sign-up:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer-links {
    background-color: rgba(134, 134, 134, 0.1);
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid rgba(150, 150, 150, 0.4);
}
.footer-links > li {
    list-style-type: none;
    padding: 0px .5rem;
    font-size: .9rem;
    color: rgba(100, 100, 100, 0.8);
}
.demo-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border: none;
    background-color: rgba(167, 2, 2, .9);
    color: rgba(255, 255, 255, 0.9);
    padding: .5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    bottom: .5em;
    z-index: 1;
}

.demo-button:hover{
    background-color: rgba(109, 3, 3, 0.9);
    transition: background-color .5s;
}

.error-container {
    background-color: white;
    color: red;
    padding: 1rem;
    margin: 0.5rem;
    border-left: 2px solid red;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}
.error-container > ul {
    padding: 0rem .5rem;
}

.created-by {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(150, 150, 150, 0.4);
}
.created-by > li {
    list-style-type: none;
    padding: 0px .2rem;
    font-size: .9rem;
}
.created-by > li > a {
    text-decoration: none;
    color: rgba(1, 42, 156, 0.76);
    font-size: .9rem;
}
.created-by > li > a:hover {
    text-decoration: underline;
}
