* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    min-height: 100%;
    background: url("//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    height: 550px;
    width: 400px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation: smooth .25s ease-in-out;
}
@keyframes smooth {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 90%;
    width: 80%;
    padding: 12px 12px;
}
.sign-up-container > div > label {
    color: rgba(0, 0, 0, 0.8);
    padding: 4px;
}
.sign-up-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sign-up-container > div > input {
    border: 1px solid rgba(150, 150, 150, 0.4);
    border-radius: 3px;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
}
.sign-up-title {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(150, 150, 150, 0.4);
}
.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: rgba(100, 100, 100, 0.8);
    cursor: pointer;
    text-decoration: none;
}

.login-button {
    border: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 1.8rem;
    cursor: pointer;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 102, 255, .8);
    color: white;
}

.error-container {
    position: absolute;
    top: 1%;
    right: 50%;
    background-color: white;
    transform: translate(50%, 0%);
    padding: 1rem;
    border-left: 4px solid red;
    border-radius: 3px;
    color: red;
}
